//====================global footer
.layout-footer {
  padding: 0px 0 0px;

  .si-phone {
    padding-top: 0px;
  }
}

.company-address-block {

  dl {
    margin-bottom: 0px;
  }

  dt {
  }

  dd {
  }
}

.company-info-block{

  p {
    margin-bottom: 0px;
  }
}

.copyright {
  margin-top: 0px;
}